/* leokeny - nha pretinha */
.header-container {
    width: 86%;
    margin: 161px 131px 32px;
}
.header-container {
    height: 439px;
    overflow: hidden;
    box-sizing: border-box;
}
.header-container .section-info {
    background: url("../images/pexels-jason-boyd-3209045.jpg");
}
.header-container .section-info, .servico-header-container .section-info {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.header-container .section-info .info {
    height: 439px;
}
.info {
    width: 46.8%;
    padding: 55px 134px 0px 60px;
    overflow: hidden;
    box-sizing: border-box;
    background-color: #ffff;
}
.info .text {
    width: 356px;
    max-height: 276px;
}
.info .text h1 {
    margin: 0;
    font-size: 37px;
    color: #003E19;
}
.info .text p {
    font-size: 16px;
    line-height: 24px;
    color: #343434;
}
.info .buttons {
    width: 141px;
    height: 82px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 117px 0 0px;
}
.info .buttons button {
    width: 141px;
    height: 44px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #ffff;
    border-radius: 6px;
    box-sizing: border-box;
    background-color: #025725;
}
.info .buttons .dots-container {
    width: 59.67px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}
.info .buttons .dots-container .dots {
    width: 11px;
    height: 11px;
    border-radius: 100%;
    transition: all .2s ease-out;
    background-color: #C4C4C4;
}
.info .buttons .dots-container .dots.active {
    width: 14px;
    height: 14px;
    margin: 0 3px;
    background-color: #025725;
}
.servicos-produtos {
    width: 86%;
    height: 1989px;
    margin: 0px 131px 90px;   
    box-sizing: border-box;
    background-color: #ffff;
}
#soluctions {
    width: 100%;
    height: 348px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0 60px;
    box-sizing: border-box;
}
#soluctions li {
    width: 324px;
    height: 168px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 22px 11px 0px 20px;
    border-top: 2px solid #d3d3d3;
    box-sizing: border-box;
    transition: background .2s ease-in-out;
}
#soluctions li:hover {
    border-top-color: #008636;
    background-color: #5CC240;
}
#soluctions li .text {
    width: 182px;
}
#soluctions li .text h1 a {
    max-height: 25px;
    font-size: 24px;
    text-decoration: none;
    color: #003E19;
}
#soluctions li:hover > .text h1 a,
#soluctions li:hover .text p,
#soluctions li:hover .icons-and-buttons i {
    color: #ffff;
}
#soluctions li .text p {
    max-height: 84px;
    font-size: 16px;
    line-height: 22px;
    color: #222222;
}
#soluctions li .text h1 {
    margin: 0;
    padding: 0;
}
#soluctions li .icons-and-buttons {
    width: 95px;
    height: 115px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#soluctions li .icons-and-buttons i {
    font-size: 46px;
    color: #003E19;
}
#soluctions li .icons-and-buttons button {
    width: 95px;
    height: 32px;
    font-weight: bold;
    text-align: center;
    color: #ffff;
    border-radius: 6px;
    transition: opacity .2s ease-out .2s;
    cursor: pointer;
    opacity: 0;
    background-color: #003E19;
}
#soluctions li:hover > .icons-and-buttons button {
    opacity: 1;
}
.servico-header-container {
    width: 100%;
    height: 348px;
}
.servico-header-container .section-info {
    height: 348px;
    background-image: url("../images/pexels-max-vakhtbovych-6538898.jpg");
}
.servico-header-container .section-info .info {
    height: 348px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 60px 0px 134px;
    transform: translateX(621px);
}
.servico-header-container .section-info .info .text {
    text-align: right;
}
.servico-header-container .section-info .info .icons {
    display: flex;
    justify-content: flex-end;
    font-size: 46px;
    color: #003E19;
}
.servico-header-container .section-info .info .icons > * {
    margin-left: 26px;
}
.servicos-produtos .portfolios-containers {
    width: 100%;
    height: 1295px;
    display: grid;
    grid-template-columns: 352.33px 352.33px 352.33px;
    padding: 90px 60px;
    box-sizing: border-box;
}
.servicos-produtos .portfolios-containers .images {
    height: 557px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.servicos-produtos .portfolios-containers .images:last-child {
    grid-column-start: 2;
    grid-column-end: 4;
}
.artigos-section {
    width: 86%;
    height: 382px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 131px 90px;
    padding: 25px 0;
    background-color: #ffff;
}
.artigos-section h1 {
    font-size: 37px;
    color: #003E19;
    margin: 0;
    padding: 0;
}
.artigos-section button {
    width: 95px;
    height: 32px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #003E19;
    padding: 7px 26px;
    border: 1px solid #003E19;
    border-radius: 4px;
    background-color: #ffff;
}
.artigos-section button:hover {
    color: #ffff;
    background-color: #003E19;
}
.artigos-container {
    width: 100%;
    height: 382px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.artigos-container .artigos {
    height: 206px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color: #0d17003a;
}
.artigos-container .artigos:nth-child(2) {
    width: 307px;
    margin: 0 9px;
}
.artigos-container .artigos:first-child, .artigos-container .artigos:last-child {
    width: 303px;
}
.artigos-container .artigos .artigo-images {
    max-height: 338px;
    overflow: hidden;
    /* border: 1px solid; */
}
.artigos-container .artigos .artigo-images img {
    width: 100%;
}
.artigos-container .artigos:nth-child(2) .artigo-images {
    max-width: 324px;
}
.artigos-container .artigos:first-child .artigo-images,
.artigos-container .artigos:last-child .artigo-images {
    max-width: 303px;
}
.section-testemunho {
    width: 86%;
    height: 382px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px 131px 90px;
    padding: 36px 60px 35px;
    box-sizing: border-box;
    background-color: #ffff;
}
.section-testemunho .facebook-likes-info {
    width: 776px;
    height: 46px;
    display: flex;
    align-items: center;
    /* border: 1px solid; */
}
.section-testemunho .facebook-likes-info {
    color: #003E19;
}
.section-testemunho .facebook-likes-info .facebook-icon .iconify {
    font-size: 46px;
}
.section-testemunho .facebook-likes-info .text {
    display: flex;
    align-items: center;
}
.section-testemunho .peoples {
    width: 1058px;
    height: 218px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /* border: 1px solid; */
}
.section-testemunho .peoples .persom {
    width: 300px;
    height: 86px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    overflow: hidden;
}
.section-testemunho .peoples .persom .profile-image {
    width: 64px;
    height: 64px;
    /* border: 1px solid; */
    border-radius: 100%;
}
.section-testemunho .peoples .persom .username-comment {
    width: 216px;
}
.section-testemunho .peoples .persom .username-comment .username {
    height: 33.06px;
    font-size: 18px;
    color: #003E19;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.section-testemunho .peoples .persom .username-comment .comment {
    height: 57px;
    font-size: 16px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.section-location {
    width: 86%;
    height: 918px;
    margin: 0px 131px 90px;
    background-color: #ffff;
}
.section-location .map-container {
    width: 100%;
    height: 626px;
    background-image: url("../images/map.png");
}
.section-location .map-container .text-icon-container {
    width: 100%;
    height: 130px;
    color: #003E19;
    padding: 32px 60px 31px;
    box-sizing: border-box;
    background-color: #ffffff;
}
.section-location .map-container .text-icon-container .text-icon {
    width: 560px;
    height: 67px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid; */
}
.section-location .map-container .text-icon-container .text-icon .iconify {
    font-size: 46px;
}
.section-location .map-container .text-icon-container .text-icon .text {
    width: 487px;
    /* border: 1px solid; */
}
.section-location .map-container .text-icon-container .text-icon .text h1, p {
    margin: 0;
    padding: 0;
}
.section-location .map-container .text-icon-container .text-icon .text p {
    font-size: 18px;
    /* font-weight: bold; */
}