* {
    font-family: Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
*::-webkit-scrollbar-thumb {
    background-color: #646464;
}
*::-webkit-scrollbar {
    width: 8px;
    background-color: lightgray;
}
body {
    margin: 0%;
    padding: 0%;
    background-color: #E6E6E6;
}
button {
    border: none;
}
.top-nav {
    width: 100%;
    height: 71px;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    padding: 16px 16px 16px 10px;
    box-sizing: border-box;
    box-shadow: 0 4px 4px #0000003d;
    z-index: 99;
    background-color: #ffff;
}
.top-nav .pin-icon > .iconify {
    font-size: 24px;
    color: #646464;
    transition: transform .2s cubic-bezier(0.38, 0.29, 0.36, 1.32), color .9s;
}
.top-nav .pin-icon.actived-pin > .iconify {
    color: #003E19; 
    transform: rotate(-45deg);
}
.top-nav #topnav-itens-container {
    width: 87.7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translateX(8.4%);
    box-sizing: border-box;
    /* border: 1px solid; */
}
.top-nav #topnav-itens-container #logo {
    width: 106px;
    height: 35px;
    overflow: hidden;
    margin-right: 83px;
    box-sizing: border-box;
}
.top-nav #topnav-itens-container #logo img {
    width: 100%;
}
.top-nav #topnav-itens-container #search-bar-container {
    width: 917px;
    height: 40px;
    padding: 4px;
    box-sizing: border-box;
    overflow: hidden;
    margin-right: 31px;
    background-color: #E5E5E5;
}
.top-nav #topnav-itens-container #search-bar-container form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.top-nav #topnav-itens-container #search-bar-container form input {
    width: 90%;
    font-size: 17px;
    color: #003E19;
    padding: 0 12px;
    border: none;
    outline: none;
    background-color: transparent;
}
.top-nav #topnav-itens-container #search-bar-container form input::placeholder {
    font-family: 'Montserrat';
    font-size: 17px;
    font-style: italic;
}
.top-nav #topnav-itens-container #search-bar-container form button {
    width: 44px;
    height: 32px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #ffff;
}
.top-nav #topnav-itens-container #search-bar-container form button i {
    font-size: 19pt;
    color: #E5E5E5;
}
.top-nav #topnav-itens-container .shopping-cart {
    font-size: 30px;
    color: darkgray;
    transition: color .2s ease-in-out;
}
.top-nav #topnav-itens-container .shopping-cart:hover {
    color: #003E19;
}
.side-nav {
    width: 308px;
    height: 459px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 141px;
    left: 0.5%;
    bottom: 0;
    overflow: auto;
    transition: width .4s ease-in-out;
    box-shadow: 0px 0px 4px #0000003d;
    background-color: #ffff;
    z-index: 98;
}
/* lista de icone */
.side-nav #side-nav--item-container {
    height: 377px;
    list-style: none;
    padding: 0 9px;
    overflow: auto;
    overflow-x: hidden;
    box-sizing: border-box;
}
/* icone */
.side-nav #side-nav--item-container > li {
    padding: 22px 0;
}
.side-nav #side-nav--item-container > li a {
    transition: color .2s ease-in-out;
}
.side-nav #side-nav--item-container > .actived-list-item a,
.side-nav #side-nav--item-container > .actived-list-item:hover a {
    color: #003E19;
    opacity: 1;
}
.side-nav #side-nav--item-container li div, .side-nav #side-nav--item-container li div > a {
    display: flex;
    align-items: center;
}
.side-nav #side-nav--item-container li div {
    justify-content: space-between;
}
.side-nav #side-nav--item-container li div a {
    font-weight: bold;
    color: #333333;
    text-decoration: none;
    opacity: 0.7;
}
.side-nav #side-nav--item-container li div:hover > a {
    color: #92aa09;
    opacity: 1;
}
.side-nav #side-nav--item-container li .submenu .link-name {
    display: none;
}
.side-nav #side-nav--item-container li div a .iconify {
    margin-right: 10px;
}
.side-nav #side-nav--item-container li div .arrow {
    color: #646464;
    transition: transform .4s cubic-bezier(0.38, 0.29, 0.36, 1.32);
}
.side-nav #side-nav--item-container li .submenu {
    height: 190px;
    display: none;
    margin: 0;
    padding-left: 30px;
    list-style: none;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #92aa09;
}
.side-nav #side-nav--item-container li .submenu li {
    padding: 10px;
    opacity: 0.6;
}
.side-nav #side-nav--item-container li .submenu li:hover {
    opacity: 1;
}
.side-nav #side-nav--item-container li .submenu li a {
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
    color: #ffff;
}
.side-nav #side-nav--item-container li:hover > .iconify {
    color: #003E19;
}
.side-nav #side-nav--item-container li .iconify, i {
    font-size: 29px;
    cursor: pointer;
}
/* dropdown menu */
.side-nav #side-nav--item-container li.show-submenu > .submenu {
    display: block;
}
.side-nav #side-nav--item-container li.show-submenu a, 
.side-nav #side-nav--item-container li.show-submenu .arrow
{
    color: #92aa09;
    opacity: 1;
}
.side-nav #side-nav--item-container li.show-submenu div .arrow {
    transform: rotate(-180deg);
}

/* when it's closed */
.side-nav.close {
    width: 48px;
    overflow: visible;
}
.side-nav.close #side-nav--item-container {
    padding-right: 0;
}
.side-nav.close #side-nav--item-container > li {
    display: flex;
    color: #003E19;
}
.side-nav.close #side-nav--item-container li div a .link-name {
    display: none;
}
.side-nav.close #side-nav--item-container li div .arrow {
    display: none;
}
.side-nav.close #side-nav--item-container li .submenu {
    display: none;
}
.bottom-menu {
    display: none;
}
@media screen and (max-width:885px) {
    .top-nav #topnav-itens-container {
        width: 92.5%;
        margin: 0 auto;
        transform: translateX(0);
    }
    .top-nav #topnav-itens-container #logo {
        display: none;
    }
}
@media screen and (max-width:885px) {
    .pin-icon {
        display: none;
    }
    .side-nav {
        display: none;
    }
    .bottom-menu {
        width: 100%;
        height: 50px;
        display: flex;
        position: fixed;
        margin: auto;
        bottom: 0px;
        box-sizing: border-box;
        box-shadow: 0 -4px 6px rgba(0, 0, 0, .2);
        z-index: 97;
        background-color: #ffff;
    }
    .bottom-menu ul {
        width: 80%;
        display: flex;
        justify-content: space-around;
        list-style: none;
        margin: auto;
        padding: 0;
        overflow: hidden;
    }
    .bottom-menu ul li a {
        font-size: 26px;
        color: #646464;
        text-decoration: none;
    }
    .bottom-menu ul li.actived-list-item > a {
        color: #003E19;
    }
    .bottom-menu ul li a:hover {
        color: #008636;
    }
}